* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
}

body {
    background-color: #eee;
    font-size: 20px;
}

img {
    width: 600px;
    height: 600px;
}

.boton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.boton:hover {
    background-color: #45a049;
  }
.boton:active {
    background-color: #3e8e41;
  }

.boton2{
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.699);
    color: white;
    border-left: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
.boton2:hover {
    background-color: rgba(204, 8, 8, 0.699);
  }
.boton2:active {
    background-color: rgba(161, 2, 2, 0.699)
  }

.imagenlista{
    width: 100px;
    height: 100px;
}

.aceptados{
    position: absolute;
    top: 0;
    margin-left: 700px;
}

.rechazados{
    position: absolute;
    top: 0;
    margin-left: 1200px;
}
